<head>
	<link rel="stylesheet" type="text/css" href="app/assets/stylesheets/application.css" />
</head>

<body>

<header>
	<h1>The Public Library</h1>
	<hr />
	
	<div class="aside">
		<%= image_tag("logo.jpg") %><br>
		<%= link_to "HOME", root_path %><br>
		<%= link_to "ABOUT", about_path %><br>
		<%= link_to "BOOKS", books_path %><br>
		<%= link_to "AUTHORS", authors_path %><br> 
		<%= link_to "EVENTS", events_path %><br>
		<%= link_to "CONTACT", contact_path %><br>
	</div>
</header>

<div class="main_content">
	<h2>Edit Author</h2>
	<%= form_for @author do |f| %>
			<p>
			Author's First Name: <%= f.text_field :f_name %> <br><br>
			Author's Last Name: <%= f.text_field :l_name %> <br><br>
			DOB: <%= f.date_select :dob %><br><br> 
			Living?: <%= check_box_tag(:deceased) %><br><br>
		<%= f.submit "Save Changes" %></p>
		<% end %>											
</div>

<footer>
	Labor Day Weekend Project By: Juli Emmel
</footer>
</body>
