<head>
	<link rel="stylesheet" type="text/css" href="app/assets/stylesheets/application.css" />
</head>

<body>

<header>
	<h1>The Public Library</h1>
	<hr />
	
	<div class="aside">
		<%= image_tag("logo.jpg") %><br>
		<%= link_to "HOME", root_path %><br>
		<%= link_to "ABOUT", about_path %><br>
		<%= link_to "BOOKS", books_path %><br>
		<%= link_to "AUTHORS", authors_path %><br> 
		<%= link_to "EVENTS", events_path %><br>
		<%= link_to "CONTACT", contact_path %><br>
	</div>
</header>

<div class="main_content">
	<h2>Edit Author</h2>
	<p>Find me in app/views/authors/edit.html.erb</p>
</div>

<footer>
	Labor Day Weekend Project By: Juli Emmel
</footer>
</body>
