<div class="main_content">
	<h2> <%= @author.full_name %> </h2>

	<p>Born: <%= @author.dob %></p>

	<p>Books by this Author:<br> <% @books.each do |x| %> 
		<li><%= link_to x[:name], book_path(x) %></li> <% end %> 
		<li><strong><%= link_to "Add Book", new_book_path %></strong></li></p>

	<p class="bottom_links"><strong><%= link_to "Back to All Authors", authors_path %> 
		<%= link_to "Edit this Author", edit_author_path %>
		<%= link_to "Delete this Author", author_path, method: :delete, data: { confirm: "Confirm Delete? You cannot undo this task!"} %></strong>
	</p>

</div>
