<div class="main_content">
	<h2>Add a New Book!</h2>
	<p><%= form_for @book do |f| %>
   	<div id="entry">
		<p>Book Title: <%= f.text_field :title %> <br><br>
		Author: <%= f.collection_select(:author_id, Author.all, :id, :full_name) %><br>
		<span style="font-size: 12px; color: red">*Don't see who you're looking for? Click <%= link_to "HERE", new_author_path %> to add an author</span><br><br>
		Publisher: <%= f.text_field :publisher %><br><br>
		Copyright: <%= f.number_field :copyright %><br><br>
		Language: <%= f.text_field :language %><br><br>
		ISBN: <%= f.number_field :isbn %><br><br>
		Description: <br><%= f.text_area :desc, size: "80x15" %><br><br>
	 </div>

	 <%= f.submit "Add New Book" %>
	 <% end %>
	</p>
</div>