<h1> <%= @book.title %> </h1>

<% this_author = @authors.find(@book.author_id) %>

<p><strong>Author:</strong> <%= link_to this_author.f_name+" "+this_author.l_name, author_path(@book.author_id) %></p>

<p><strong>About This Book:</strong> <%= @book.desc %> </p>

<p><strong>Published by:</strong> <%= @book.publisher %> <%= @book.copyright %></p>
<p><strong>Language Available:</strong> <%= @book.language %> </p>
<p><strong>ISNB:</strong> <%= @book.isbn %> </p>

<%= link_to "See All Books", books_path %>
<%= link_to "Edit this Book", edit_book_path %>