<div class="main_content">
	<h2> <%= @book.title %> </h2>

	<% this_author = @authors.find(@book.author_id) %>

	<p><strong>Author:</strong> <%= link_to this_author.f_name+" "+this_author.l_name, author_path(@book.author_id) %></p>

	<p><strong>About This Book:</strong> <%= @book.desc %> </p>

	<p><strong>Published by:</strong> <%= @book.publisher %> (<%= @book.copyright %>)</p>
	<p><strong>Language(s) Available:</strong> <%= @book.language %> </p>
	<p><strong>ISBN:</strong> <%= @book.isbn %> </p>
	<p class="bottom_links"><strong><%= link_to "See All Books...", books_path %><span width="25px"></span>
		<%= link_to "Edit this Book...", edit_book_path %>
		<%= link_to "Delete this Book...", book_path, method: :delete, data: { confirm: "Confirm Delete? You cannot undo this task!" } %></strong>
	</p>
</div>