<head>
	<link rel="stylesheet" type="text/css" href="app/assets/stylesheets/application.css" />
</head>

<body>

<header>
	<h1>The Public Library</h1>
	<hr />
	
	<div class="aside">
		<%= image_tag("logo.jpg") %><br>
		<%= link_to "HOME", root_path %><br>
		<%= link_to "ABOUT", about_path %><br>
		<%= link_to "BOOKS", books_path %><br>
		<%= link_to "AUTHORS", authors_path %><br> 
		<%= link_to "EVENTS", events_path %><br>
		<%= link_to "CONTACT", contact_path %><br>
	</div>
</header>

<div class="main_content">
	<h2>About your Public Library</h2>	
	<p><strong>Address:</strong> 1234 Little Book Road, Los Angeles, CA 90065<br><br>
		<strong>Hours:</strong> Open Daily 8am - 8pm<br><br>
		<strong>Parking:</strong> Free parking is available to library patrons<br><br>
		<strong>Need more info?</strong> Contact us!
</div>

<footer>
	Labor Day Weekend Project By: Juli Emmel
</footer>
</body>